# Common
# Python
__pycache__/
*.py[cod]

# Jupyter
**/.ipynb_checkpoints/

# VS Code
.vscode/

# Backup files
*~

# Model files
*.pkl
*.pth
*.pt

# Large datasets
*.tgz
*.zip

# Python virtual environments
venv/
.venv/
env/

# Python cache
.pytest_cache/

# Logs
*.log

# videos
*.mp4
*.avi

# MNIST project 
MNIST/data/

# median_house_price_prediction

# CIFAR-10 dataset
CIFAR_10/data/

# Oxford-IIIT pet dataset
Oxford-IIIT Pet Dataset Segmentation/data/

# football analysis
football_analysis/runs/
football_analysis/input_videos/08fd33_4.mp4
football_analysis/output_videos/output_video.avi
football_analysis/output_videos/output_video_5s.avi

# Auto matic numer plate recognization
